body {
  background-color: #222222;
  font-family: 'Quicksand', sans-serif;
  color: white;
  max-width: 50%;
  margin: auto;
}

form {
  font-family: 'Quicksand', sans-serif;
  color: white;
  margin: auto;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 22px;
}

nav a:hover {
  text-decoration: underline;
  color: #FF69B4;
}

form h1 {
  color: #FF69B4;
}
form h2 {
  color: #FF69B4;
}
form h3 {
  color: #FF69B4;
}
form h4 {
  color: #FF69B4;
}

h1 {
  color: #FF69B4;
}
h2 {
  color: #FF69B4;
}
h3 {
  color: #FF69B4;
}
h4 {
  color: #FF69B4;
}

.btn {
  width: 100px;
  height: 30px;
}
